<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <script src="//{{ip}}/js/jquery-3.2.1.min.js"></script>
     <script src="//{{ip}}/js/socket.io.slim.js"></script>
    <script src="//{{ip}}/js/chat.js"></script>
	<link rel="stylesheet" type="text/css" href="//{{ip}}/css/style.css" />
    <title>Chat</title>
</head>
<body>
<div class = "divstyle">
	<input type="text" id="user_name" class ="texto"/>
</div>
<div class = "divstyle">
	<textarea readonly="true" id="textArea" class="mensagens">

	</textarea>
</div>
<form id="input" method="post" action="#">
	<div class = "divstyle">
		<input type="text" id="emit_data" class ="texto"/>
		<input type="submit" value="Disconnect" style="position: absolute; left:-99999px"/>
	</div>
</form>

<form id="disconnect" method="post" action="#">
	<div class = "divstyle">
		<input type="submit" class="submitbutton"/>
	</div>
</form>

</body>
</html>