<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <script src="//{{ip}}/js/jquery-3.2.1.min.js"></script>
     <script src="//{{ip}}/js/socket.io.slim.js"></script>
    <script src="//{{ip}}/js/chat.js"></script>
    <title>Chat</title>
</head>
<body>
<textarea readonly="true" id="textArea">

</textarea>

<form id="input" method="post" action="#">
    <input type="text" id="emit_data" placeholder="Digite aqui!"/>
    <input type="submit" value="Disconnect" style="position: absolute; left:-99999px"/>
</form>

<form id="disconnect" method="post" action="#">
    <input type="submit"/>
</form>

</body>
</html>