.texto {
  margin: 10px 0 0;
  padding: 10px 29px 10px 31px;
  border: 1px solid #018dc4;
  background: #021f2b;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  position: relative;
}

.mensagens {
  margin: 10px 0 0;
  padding: 10px 29px 10px 31px;
  border: 1px solid #018dc4;
  background: #021f2b;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  position: relative;
  height: 200px;
  width: 190px;
}

.submitbutton {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
  cursor: pointer;
  margin: 10px 0 0;
  padding: 10px 29px 10px 31px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #021f2b;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  top: 0px;
  height: 50px;
}


